@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap');

:root {
    --ff-monserat: 'Montserrat', sans-serif;
    --ff-popins: 'Poppins', sans-serif;

    /* color */
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-red: #E92139;
    --color-gray: #A6A6A6;
    --color-dark: #222222;
    

    /* bg-color */
    --bg-primary: #ffffff;
    --bg-secondary: #000000;
    --bg-red: #E92139;
    --bg-gray: #A6A6A6;
    --bg-dark: #222222;

}

/* default style */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

ol {
    margin-top: 30px;
}

li {
    font-size: 18px;
    line-height: 34px;
}

a {
    color: inherit;
    text-decoration: none;
}

p>a {
    text-decoration: underline;
    color: var(--color-red);
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

picture>img {
    border-radius: 68px;
}

article picture img{
    border-radius: 32px;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
}

.hidden {
    overflow-y: hidden;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 64px;
    color: var(--color-red);
    margin: 30px 0;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
    margin: 40px 0;
    color: var(--color-red);
}

h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin: 40px 0;
    text-align: center;
    color: var(--color-green);
}

p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 34px;
    text-indent: 20px;
}

picture+p {
    margin-bottom: 50px;
    margin-top: 30px;
}

footer>p {
    margin-bottom: 0;
}

/* main style */
body {
    font-family: var(--ff-monserat);
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: var(--color-primary);
    background: var(--bg-dark);
    padding: 45px 50px 0px 50px;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    background: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    max-width: 1628px;
    min-height: 100vh;
    border-radius: 14px;
    margin: 0 auto;
}

/* header */

.header {
    flex: 1 0 auto;
    padding: 25px 50px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: none;
}

.header__logo {
    display: block;
    width: 74px;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 29px;
    margin: 0;
}

.menu__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-primary);
}

.header__block {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.header__block button {
    width: 150px;
    background: var(--bg-red);
    border: 1px solid var(--color-red);
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-primary);
    text-align: center;
    padding: 15px 0;
}

.header__block button:first-child {
    width: 82px;
    background: transparent;
}

/* end header */

/* main */
main {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 78px;

}

.aside {
    width: 31%;
    padding-left: 50px;
    background: url(../img/arrow.png) no-repeat bottom 69px center;
    background-size: 100%;
}

.aside>ul {
    max-width: 450px;
    width: 100%;
    background-color: var(--bg-yellow);
    padding: 30px 37px 28px 30px;
    border: 1px solid var(--color-red);
}

.aside>ul>li {
    line-height: 50px;
}

.spin {
    max-width: 450px;
    width: 100%;
    padding: 25px 0;
    border: 1px solid var(--color-red);
    margin: 50px 0 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.spin-img {
    width: 100px;
}

.spin-title {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.aside-img {
    max-width: 420px;
}

/* article */
.art {
    width: 65%;
    padding: 0px 50px 87px 0;
    background: var(--bg-white);
}

.art ul:first-of-type {
    display: none;
}

.art>.spin {
    display: none;
}

.art ul:first-of-type a {
    font-weight: 500;
    font-size: 18px;
    line-height: 50px
}

.art ul:last-of-type {
    list-style-type: disc;
}

.art ul,
.art ol {
    margin-left: 20px;
}

.article ul:first-of-type {
    margin-left: 0;
    margin-bottom: 30px;
}

/* table */

.table {
    max-width: 1040px;
    width: 100%;
    margin: 50px auto 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

tbody tr {
    border-bottom: 1px solid var(--color-primary);
    display: grid;
    grid-template: auto/repeat(4, 1fr);
    align-items: center;
}

.tabl-2 tbody tr {
    grid-template: auto/repeat(3, 1fr);
}

.tabl-3 tbody tr {
    grid-template: auto/repeat(2, 1fr);
}

tbody tr:last-child {
    border-bottom: 1px solid var(--color-primary);
}

tbody td {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 19px 10px;
    text-align: center;
}

tbody td:first-child {
    text-align: left;
}

tbody td:last-child {
    text-align: right;
}

.footer {
    flex: 0 0 auto;
    padding: 36px 0;
    border-radius: 0 0 14px 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media style */
@media(max-width:1350px) {
    body{
        padding: 45px 20px 0px 20px;
    }

    .header {
        flex: 1 0 auto;
        padding: 25px 20px;
    }

    main {
        gap: 45px;
    }

    .aside {
        padding-left: 20px;
        background-size: 100%;
    }

    .aside>ul>li {
        line-height: 45px;
    }

    .art {
        padding: 0px 20px 87px 0;
    }
}

@media(max-width:1250px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .aside>ul>li {
        line-height: 35px;
    }
}

@media(max-width:1100px) {
    .aside {
        max-width: 385px;
    }

    .aside>ul>li {
        font-size: 16px;
    }
}


@media(max-width:980px) {
    .aside {
        display: none;
    }

    .art {
        width: 100%;
        padding: 0px 14px 87px;
    }

    .art ul:first-of-type {
        display: block;
        margin-bottom: 30px;
        margin-left: 0;
    }

    .art>.spin {
        display: flex;
        margin: 50px auto 0;
        width: 400px;
    }


    .header__content {
        flex: 1;
    }

    .burger-menu {
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        height: 30px;
        background: url(../img/burger.svg) no-repeat center;
        margin: 0 30px 0 0px;
        transition: 0.3s linear;
    }

    .burger-menu.active {
        background: url(../img/close.svg) no-repeat center;
    }

    .nav {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: var(--bg-red);
        padding: 180px 0 0 30px;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: 0.3s linear;
    }

    .nav.active {
        transform: translateX(0);
        right: 30%;
    }

    .menu {
        flex-direction: column;
        gap: 50px;
    }

    .menu__link {
        color: white;
    }

}

@media(max-width:850px) {
    .container {
        border-radius: 0;
        padding: 20px 15px 169px;
    }
}


@media(max-width:768px) {
    body {
        padding: 0;
    }

    .header{
        height: 82px;
    }

    .header__content {
        background: var(--bg-secondary);
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        padding: 30px 14px 0;
    }

    .wrapper {
        border-radius: 0;
    }



    main {
        gap: 0;
        flex-direction: column;
        padding-top: 0;
    }

    .art {
        padding: 30px 14px 50px;
    }

    .tabl-1 tbody {
        gap: 54px;
    }

    .tabl-1 tbody tr {
        grid-template: auto/repeat(2, 1fr);
    }

    .tabl-1 tbody tr td:nth-child(odd) {
        text-align: left;
    }

    .tabl-1 tbody tr td:nth-child(even) {
        text-align: right;
    }

    .tabl-1 tbody tr td {
        padding: 19px 10px 9px;
    }

    .tabl-1 tbody tr td:nth-child(3),
    .tabl-1 tbody tr td:last-child {
        padding: 9px 10px 19px;
    }

    .footer {
        background: var(--bg-secondary);
    }
}

@media(max-width:590px) {
    .wrapper {
        border-radius: 0;
    }

    .header {
        height: 212px;
        padding: 0;
    }

    .header__content {
        flex-direction: column;
        gap: 30px;
    }

    .header__block {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header__block button:first-child {
        width: 150px;
    }

    .burger-menu {
        position: absolute;
        z-index: 5;
        top: 25px;
        left: 20px;
        margin: 0;
    }

    .article {
        padding: 0px 14px 0px;
    }

    h1 {
        word-wrap: break-word;
        word-break: break-all;
        font-size: 30px;
        line-height: 50px;
    }

    .table {
        margin: 0px auto 50px;
    }

    tbody td {
        font-size: 14px;
        line-height: 16px;
        padding: 20px 0;
    }

    .footer {
        padding: 40px 0;
    }
}

@media(max-width:450px) {
    .header__block button {
        width: 250px;
        border-radius: 10px;
    }

    .header__block button:first-child {
        width: 250px;
    }

    picture>img {
        border-radius: 30px;
    }

    h1 {
        margin: 30px 0;
    }

    h2 {
        margin: 30px 0;
        font-size: 26px;
        line-height: 40px;
    }

    h3 {
        margin: 30px 0;
        font-size: 22px;
        line-height: 34px;
    }

    p {
        margin-bottom: 30px;
    }

    ol {
        margin-top: 30px;
    }

    .article ul:first-of-type {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .art>.spin {
        width: 95%;
    }
}

@media(max-width:390px) {
    tbody td {
        font-size: 12px;
    }

    .block-yellow {
        width: 80%;
    }

    .footer span {
        display: block;
        text-align: center;
    }

}